.homepage-slider {
  max-width: 1920px;
  margin: 0 auto;

  .bx-wrapper .bx-viewport {
    border: 0;
    left: 0;

    ul {
      margin: 0;
    }

  }

  .bx-pager {
    bottom: 20px;
  }

  .bx-wrapper {
    margin: 0;
  }

  .bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent;
    border: solid 1px #fff;
    width: 15px;
    height: 15px;
    border-radius: 10px;

    &:hover {
      background: #fff;
    }

  }

  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff;
  }

}




