ul#superfish-1 {
    li {
        width: 10%;
        margin-top: 17px;
        font-size: .8em;
        text-align: center;
        @include zen-respond-to(xl) {
            font-size: 1em;
            margin-top: 14px;
        }
        a {
            color: #FFF;
            text-decoration: none;
            &:hover { color: color(secondary); }
        }
    }
}

.sf-accordion-toggle.sf-style-none {
    text-align: center;
    padding-top: 7px;
    a {
        color: #FFF;
        font-size: 3em;
        text-decoration: none;
    }
}

ul#superfish-1-accordion.superfish-processed.sf-accordion.sf-expanded{
    background-color: color(secondary);
    margin-top: 5px;
    li a {
        color: #FFF;
        text-decoration: none;
        margin: 10px 0;
        text-align: center;
        &:hover { color: color(orange); }
    }
}