ul#superfish-1 {

    li {
        @include zen-respond-to(xl) {
        font-size: 1em;
        margin-top: 14px;
        }
        width: 10%;
        margin-top: 17px;
        font-size: .8em;
        text-align: center;

        a {
         color: #fff;
         text-decoration: none;
         &:hover { color: color(secondary); }
        }
    }
}

.sf-accordion-toggle.sf-style-none {
    text-align: center;
    padding-top: 12px;

    a {
        color: #fff;
        font-size: 3em;
        text-decoration: none;
    }
}

ul#superfish-1-accordion.superfish-processed.sf-accordion.sf-expanded {
    background-color: color(secondary);
    margin-top: 5px;
    z-index: 1000;

    li {
        padding: 0 5px;
        border-bottom: 1px solid color(link);
    a {
        color: #fff;
        text-decoration: none;
        margin: 15px 0;
        text-align: center;
        &:hover { color: color(orange); }
        }
    }

}
