@import 'init';

header.header {
  padding-bottom: 20px;
  background-color: #FFF;
  @include zen-grid-container;

  .header-top {
    padding-bottom: 20px;
    div#block-block-5 {
      float: right;
      ul {
        float: right;
        padding: 0;
        margin: 0;
        li {
          float: left;
          margin-left: 5px;
          list-style: none;
          i {
            width: 25px;
            color: #fff;
            text-align: center;
            padding: 5px;
            background-color: color(orange);
          }
        }
      }
    }
  }

  .header-one,
  .header-three {
    text-align: center;
    border: solid 2px color(orange);
    margin-top: 20px;
    a {
      color: color(orange);
      text-decoration: none;
      font-size: 3em;
    }
    span {display: none;}
    p { margin: 5px; }

    @include zen-respond-to(xs) {
      border: none;
      margin-top: 75px;

      a { font-size: 1.2em; }
      span {
        display: inline-block;
        font-family: 'Roboto Condensed', sans-serif;
      }
    }
  }

  .header-one {
    @include zen-new-row();

    @include zen-grid-item(6, 1);

    @include zen-respond-to(xs) {
      @include zen-new-row(none);
      text-align: left;
      @include zen-grid-item(4, 1);
    }
  }

  .header-two {
    @include zen-grid-item(12, 1);

    @include zen-respond-to(xs) {
      @include zen-grid-item(4, 5);
    }
  }

  .header-three {
    @include zen-grid-item(6, 1, right);

    @include zen-respond-to(xs) {
      text-align: right;
      @include zen-grid-item(4, 1, right);
    }
  }

    //.header-one {
    //  @include zen-new-row();
    //  @include zen-grid-item(6, 1);
    //  @include zen-respond-to(xs) {
    //    @include zen-new-row(none);
    //    text-align: left;
    //    @include zen-grid-item(4, 1);
    //  }
    //}
    //.header-two {
    //  //img {width: 300px;}
    //  @include zen-grid-item(12, 1);
    //  @include zen-respond-to(xs) {
    //    @include zen-grid-item(4, 5);
    //  }
    //}
    //.header-three {
    //  @include zen-grid-item(6, 7);
    //  @include zen-respond-to(xs) {
    //    text-align: right;
    //    @include zen-grid-item(4, 9);
    //  }
    //}

  }
