@import 'init';

header.header {
  @include zen-respond-to(xs) {
    @include zen-grid-container($context: flow);
  }
    margin: 20px 0;
    .header-one,
    .header-three {
      text-align: center;
      border: solid 2px #BD5621;
      margin-top: 20px;
      a {
        color: #BD5621;
        text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
        text-decoration: none;
        font-size: 3em;
      }
      span {display: none;}
      p { margin: 5px; }

      @include zen-respond-to(xs) {
        border: none;
        margin-top: 75px;

        a { font-size: 1.2em; }
        span {display: inline-block;}
      }
    }

    .header-one {
      @include zen-new-row();
      @include zen-grid-item(6, 1);
      @include zen-respond-to(xs) {
        @include zen-new-row(none);
        text-align: left;
        @include zen-grid-item(4, 1);
      }
    }
    .header-two {
      //img {width: 300px;}
      @include zen-grid-item(12, 1);
      @include zen-respond-to(xs) {
        @include zen-grid-item(4, 5);
      }
    }
    .header-three {
      @include zen-grid-item(6, 7);
      @include zen-respond-to(xs) {
        text-align: right;
        @include zen-grid-item(4, 9);
      }
    }
  }





//content region
.layout-3col.layout-swap.main-content {
  padding-top: 0;
}