@import 'init';

header.header {
  @include zen-grid-container;
  padding-bottom: 20px;
  background-color: #fff;

  .header-top {
    padding: 5px 0 20px;

    //social icons block
    div#block-block-5 {
      width: 100%;
      float: right;

      ul {
        float: right;
        padding: 0;
        margin: 0;

        li {
          float: left;
          margin-left: 5px;
          list-style: none;

          a {
            color: color(orange);
            text-decoration: none;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: .9em;
          }
          
        }
      }

      i {
        text-align: center;
        font-size: 1.1em;
        color: color(orange);
        background-color: #fff;
      }

    }
  }

  .header-one,
  .header-three {
    text-align: center;
    border: solid 2px color(orange);
    margin-top: 20px;

    a {
      color: color(orange);
      text-decoration: none;
      font-size: 3em;
    }

    span {display: none;}

    p { margin: 5px; }

    @include zen-respond-to(xs) {
      border: 0;
      margin-top: 75px;

      a { font-size: 1.2em; }

      span {
        display: inline-block;
        font-family: 'Roboto Condensed', sans-serif;
      }

    }
  }

//Email
  .header-one {
    @include zen-new-row();

    @include zen-grid-item(6, 1);

    @include zen-respond-to(xs) {
      @include zen-new-row(none);
      @include zen-grid-item(4, 1);
      text-align: center;
    }
  }

//Logo
  .header-two {
    @include zen-grid-item(12, 1);
    margin-top: 10px;

    @include zen-respond-to(xs) {
      @include zen-grid-item(4, 5);
      margin-top: 0;
    }
  }

//Phone
  .header-three {
    @include zen-grid-item(6, 7);

    @include zen-respond-to(xs) {
      @include zen-grid-item(4, 9);
            text-align: center;
    }
  }

}

