.view-homepage-about-us {
  @include zen-grid-container;
  margin-bottom: 40px;
  .about-us {
    @include zen-respond-to(m) {
      @include zen-grid-item(8, 1);
      padding-right: 30px;
      border-right: solid 1px color(secondary);
    }
  }
  .band-members {
    @include zen-respond-to(m) {
      @include zen-grid-item(4, 1, right);
      padding-left: 30px;
    }
  }
}