.view-homepage-about-us {
  padding: 50px 0;
  text-align: center;
  border-bottom: solid 1px color(secondary);

  @include zen-grid-container;
  @include zen-respond-to(m) {
    text-align: left;
  }

  h2 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: inherit;
  }
  .about-us {
    @include zen-respond-to(m) {
      @include zen-grid-item(8, 1, right);
      padding-left: 30px;
      border-left: solid 1px color(secondary);
    }
    &:before {
      font-family: FontAwesome;
      content: "\f135";
      margin-right: 15px;
      font-size: 3em;
      display: inline-block;
      @include zen-respond-to(m) {
        float: left;
      }
    }
  }
  .band-members {
    @include zen-respond-to(m) {
      @include zen-grid-item(4, 1);
      padding-right: 30px;
    }
    .views-row {
      margin: 30px 0;
    }
    img {
      float: left;
      margin-top: 11px;
      margin-right: 20px;
      border: solid 1px color(secondary);
    }
    .views-field.views-field-title {
      display: inline-block;
    }
    p {margin: 0;}
    &:before {
      font-family: FontAwesome;
      content: "\f0c0";
      margin-right: 15px;
      font-size: 3em;
      display: inline-block;
      @include zen-respond-to(m) {
        float: left;
      }
    }
  }
}