.hp-galleries {
  @include zen-grid-container;
  background: color(secondary);
  padding-left: 20px;
  padding-right: 20px;
  .view-homepage-galleries {
    margin-bottom: 40px;
    float: left;
    //@include zen-respond-to(m) {
    //  @include zen-grid-item(8, 1);
    //}
    .bx-wrapper .bx-viewport {
      border: 5px solid color(primary);
      background: color(primary);
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .bx-wrapper .bx-next {
      right: 20px;
    }
    .bx-viewport {
      //height: 215px;
    }
    ul {margin: 0;}


  }

  div#block-views-homepage-galleries-block {
    @include zen-respond-to(m) {
      @include zen-grid-item(6, 1);
    }
  }

  div#block-views-homepage-galleries-block-1 {
    @include zen-respond-to(m) {
      @include zen-grid-item(6, 1, right);
    }
  }
  
}



