.hp-galleries {
  @include zen-grid-container;
  background: color(secondary);
  padding-left: 20px;
  padding-right: 20px;
  .view-homepage-galleries {
    //margin-bottom: 40px;

    //float: left;

    //max-width: 310px;


    .bx-wrapper .bx-viewport {
      border: 5px solid color(primary);
      background: color(primary);
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .bx-wrapper .bx-pager {
      bottom: -45px;
    }
    .bx-wrapper .bx-next {
      right: 20px;
    }
    ul {margin: 0;}
  }
}



