form#webform-client-form-4 {
  text-align: center;

  @include zen-respond-to(m) {
    @include zen-grid-item(4, 1, right);
    text-align: left;
    padding-left: 30px;
  }

  .form-item.webform-component.webform-component-markup.webform-component--header,
  h2 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: inherit;
  }
}

